.react__pdf--thumbnail {
  height: 13rem;
  width: 10rem;

  img {
    height: inherit;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    outline: 1px solid #fff;
    padding: 3px;

    &:hover {
      -webkit-box-shadow: -1px 4px 32px -4px rgba(255, 255, 255, 1);
      -moz-box-shadow: -1px 4px 32px -4px rgba(255, 255, 255, 1);
      box-shadow: -1px 4px 32px -4px rgba(255, 255, 255, 1);
    }
  }

  &-page-number {
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
  }
}
