.react__pdf--preview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: var(--canvas-bg-color);

  &-canvas {
    width: 95%;

    &-25 {
      width: 25%;
    }
    &-33 {
      width: 33%;
    }
    &-50 {
      width: 50%;
    }
    &-67 {
      width: 67%;
    }
    &-75 {
      width: 75%;
    }
    &-80 {
      width: 80%;
    }
    &-90 {
      width: 90%;
    }
    &-100 {
      width: 95%;
    }
    &-110 {
      width: 110%;
    }
    &-125 {
      width: 125%;
    }
    &-150 {
      width: 150%;
    }
    &-175 {
      width: 175%;
    }
    &-175 {
      width: 175%;
    }
    &-200 {
      width: 200%;
    }
    &-250 {
      width: 250%;
    }
    &-300 {
      width: 300%;
    }
    &-400 {
      width: 400%;
    }
    &-500 {
      width: 500%;
    }
  }
}
